player-connection-mode=Listen
player-connection-guid=3798591884
player-connection-debug=0
player-connection-project-name=Game Programming
player-connection-ip=172.30.1.62
player-connection-ip=192.168.56.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=f96695ae4fe945f3be6a5b19d1d1231f
